// bower:scss
// endbower
@font-face {
  font-family: "Akrobat";
  src: url("../fonts/Akrobat-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Akrobat";
  src: url("../fonts/Akrobat-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Akrobat";
  src: url("../fonts/Akrobat-SemiBold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Akrobat";
  src: url("../fonts/Akrobat-ExtraBold.otf");
  font-weight: 800;
}

@font-face {
  font-family: "Akrobat";
  src: url("../fonts/Akrobat-Black.otf");
  font-weight: 900;
}

body {
  overflow-x: hidden;
  background: #ffffff;
  color: #000000;
  font-family: "Akrobat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

.t-header {
  display: block;
  position: relative;
  width: 100%;
  padding: 25px 0 35px 330px;

  &__toggle {
    display: none;
    padding: 4px 0 4px 4px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }

  sup {
    font-size: 8px;
  }

  &__main {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 340px;
    margin-left: -40px;
    padding: 60px 30px 105px 30px;
    background: url('../images/header_bg.svg') no-repeat center bottom;
    background-size: 100% 100%;
    z-index: 2;
  }

  &__logo {
    display: block;
    margin: 0;

    img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }

  &__text {
    display: block;
    margin: 2px 0 0 0;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding-bottom: 30px;
  }

  &__info {
    display: inline-block;
    margin: 0 30px 0 0;
    color: #a1a1a1;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;

    i {
      display: inline-block;
      margin-right: 5px;
      color: #ff0004;
    }

    a {
      color: #a1a1a1;
      font-family: "Open Sans";
      font-size: 12px;
      font-weight: 400;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        color: #ff0004;
        text-decoration: none;
      }
    }
  }

  &__number {
    display: inline-block;
    color: #454545;
    font-size: 25px;
    font-weight: 300;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      color: #ff0004;
      text-decoration: none;
    }
  }

  &__button {
    display: inline-block;
    padding: 6px 22px;
    border: 0;
    outline: none;
    border-radius: 999rem;
    background-image: linear-gradient(to left, #7c0a0d 0%, #d42323 100%);
    color: #fefefe;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      background-image: linear-gradient(to right, #7c0a0d 0%, #d42323 100%);
      color: #fefefe;
      text-decoration: none;
    }
  }

  &__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0 10px;
    list-style: none;
    border-radius: 25px;
    background-image: linear-gradient(to left, #004192 0%, #3192ff 28.5%, #025ecf 50%, #3192ff 71.5%, #004192 100%);

    &>li {
      display: inline-block;
      position: relative;

      &>a {
        display: inline-block;
        position: relative;
        padding: 16px 20px;
        color: #ffffff;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover,
        &:active,
        &:focus {
          color: #95c7ff;
          text-decoration: none;
        }
      }
    }
  }

  &__drop {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 260px;
    padding: 12px 0;
    background-image: linear-gradient(to top, #0b2646 0%, #0055bc 100%);
    z-index: 9;

    li {
      display: block;
      position: relative;
      width: 100%;

      &:last-child {
        a {
          &:after {
            display: none;
          }
        }
      }

      a {
        display: block;
        position: relative;
        width: 100%;
        margin-top: -1px;
        padding: 15px 20px;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 400;

        &:after {
          display: block;
          position: absolute;
          content: '';
          bottom: 0;
          left: 20px;
          width: 212px;
          height: 1px;
          background-color: #ffffff;
          opacity: 0.5;
        }

        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover,
        &:active,
        &:focus {

          &:after {
            display: none;
          }

          background: #8499b2;
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }

  &__dropper {
    position: relative;

    &:hover {
      .t-header__drop {
        display: block;
      }
    }
  }
}

.t-form {
  display: block;
  position: relative;
  width: 100%;
  padding: 55px 0 60px 0;
  background-image: linear-gradient(to top, #780709 0%, #e36161 23.5%, #d21e1e 50%, #e36161 76.5%, #780709 100%);

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #b1b0b0;
    opacity: 1;
    /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #b1b0b0;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #b1b0b0;
  }

  &__title {
    display: block;
    margin: 0 0 10px 0;
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }

  &__text {
    display: block;
    margin: 0 0 34px 0;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;

    input {
      display: inline-block;
      width: 100%;
      max-width: 300px;
      padding: 12px;
      outline: none;
      border-radius: 23px;
      border: 1px solid #dadada;
      background-color: #ffffff;
      color: #000000;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;

      &:focus {
        border-color: #0054bc;
      }
    }
  }

  &__info {
    display: inline-block;
    width: 100%;
    max-width: 265px;
    margin: 0;
    opacity: 0.5;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
  }

  &__button {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    padding: 11px;
    border: 0;
    outline: none;
    border-radius: 999rem;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      background: #ffffff;
      color: #ff0004;
      text-decoration: none;
    }
  }
}

.t-footer {
  display: block;
  position: relative;
  width: 100%;
  padding: 60px 0 100px 0;
  box-shadow: 0 0 16px 1px rgba(5, 73, 156, 0.99);
  background-image: linear-gradient(-181deg, #002b61 0%, #004192 10.5%, #3192ff 35%, #64adff 50%, #3192ff 65%, #004192 89.5%, #002b61 100%);
  z-index: 2;

  &_bordered {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
  }

  &_padding_left {
    padding-left: 50px;
  }

  &__logo {
    display: block;
    margin: 0 auto 55px auto;

    img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }

  &__text {
    display: block;
    margin: 2px 0 0 0;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
  }

  &__link {
    display: block;
    margin: 0 0 14px 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      color: #ff0004;
      text-decoration: none;
    }
  }

  &__links {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;

    &_margin_bottom {
      margin-bottom: 50px;
    }

    li {
      display: block;

      a {
        display: block;
        margin-bottom: 10px;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover,
        &:active,
        &:focus {
          color: #ff0004;
          text-decoration: none;
        }
      }
    }
  }

  &__subtitle {
    display: block;
    margin: 0 0 10px 0;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
  }

  &__politics {
    display: block;
    margin: 0 0 35px 0;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
  }

  &__social {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #ffffff;
    font-size: 24px;

    li {
      display: inline-block;

      a {
        display: inline-block;
        margin: 0 30px 10px 0;
        color: #ffffff;
        cursor: pointer;
        text-decoration: underline;
        transition: all 0.2s ease-out;

        &:hover,
        &:active,
        &:focus {
          color: #ff0004;
          text-decoration: none;
        }
      }
    }
  }

  &__creators {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 260px;
    margin: 170px 0 0 0;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;

    a {
      color: #ffffff;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        color: #ff0004;
        text-decoration: none;
      }
    }

    img {
      display: inline-block;
      margin-right: 10px;
    }

    p {
      margin: 0;
    }
  }
}

.t-breadcrumps {
  display: block;
  position: relative;
  width: 100%;
  background-color: #f0f0f0;
  color: #a1a1a1;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;

  a {
    color: #a1a1a1;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      color: #ff0004;
      text-decoration: none;
    }
  }

  &__this {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 8px 0 8px 330px;
    list-style: none;

    span {
      display: inline-block;
      margin: 0 5px;
    }
  }
}

.t-page {
  display: block;
  position: relative;
  width: 100%;

  &__title {
    display: block;
    margin: 30px 0 0 0;
    color: #454545;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__nav {
    display: block;
    position: relative;
    width: 100%;
    padding: 65px 0 10px 0;

    &-cards {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: flex-start;
      position: relative;
      width: 100%;
    }

    &-card {
      display: inline-flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      width: 100%;
      max-width: 175px;
      margin-bottom: 30px;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        .t-page__nav-card-title {
          opacity: 1;
        }

        .t-page__nav-card-image {
          opacity: 1;
          filter: none;
        }

        text-decoration: none;
      }

      &-image {
        display: block;
        width: 50px;
        height: 50px;
        opacity: 0.5;
        object-fit: scale-down;
        filter: grayscale(100);
        transition: all 0.2s ease-out;
      }

      &-title {
        display: block;
        margin: 20px 0 0 0;
        opacity: 0.7;
        color: #454545;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        transition: all 0.2s ease-out;
      }
    }
  }
}

.t-docs {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;

  &__card {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 456px;
    min-height: 230px;
    margin: -1px -1px 0 0;
    padding: 50px 80px 50px 40px;
    border: 1px solid #f0f0f0;
    background-color: #ffffff;

    &-content {
      display: block;
      position: relative;
      padding: 0 0 0 16px;
      border-left: 3px solid #ff0004;
    }

    &-text {
      display: block;
      margin: 0 0 25px 0;
      color: #454545;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }

    &-link {
      display: inline-block;
      margin: 0 35px 0 0;
      color: #0054bc;
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: 300;

      i {
        display: inline-block;
        margin-right: 3px;
      }

      a {
        color: #0054bc;
        cursor: pointer;
        text-decoration: underline;
        transition: all 0.2s ease-out;

        &:hover,
        &:active,
        &:focus {
          color: #ff0004;
          text-decoration: none;
        }
      }
    }
  }
}

.t-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #b1b0b0;
    opacity: 1;
    /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #b1b0b0;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #b1b0b0;
  }

  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.8);
  }

  &__close {
    display: block;
    position: relative;
    margin-bottom: 40px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 10px 0;
    padding: 42px 50px 88px 50px;
    background: url('../images/modal_bg.svg') no-repeat center;
    background-size: 100% 100%;
  }

  &__title {
    display: block;
    margin: 0 0 15px 0;
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }

  &__text {
    display: block;
    margin: 0 0 26px 0;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;

    input {
      display: inline-block;
      width: 100%;
      max-width: 300px;
      margin-bottom: 20px;
      padding: 13px;
      outline: none;
      border-radius: 23px;
      border: 1px solid #dadada;
      background-color: #ffffff;
      color: #000000;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;

      &:focus {
        border-color: #0054bc;
      }
    }
  }

  &__info {
    display: inline-block;
    width: 100%;
    max-width: 265px;
    margin: 0;
    opacity: 0.5;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
  }

  &__button {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    padding: 11px;
    border: 0;
    outline: none;
    border-radius: 999rem;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      background: #ffffff;
      color: #ff0004;
      text-decoration: none;
    }
  }

  &__info {
    display: block;
    position: relative;
    width: 100%;
    max-width: 265px;
    margin: 18px auto 0 auto;
    opacity: 0.5;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }
}

.t-papers {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;

  &__card {
    display: inline-flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 683px;
    min-height: 350px;
    margin: -1px -1px 0 0;
    padding: 30px 80px 40px 35px;
    border: 1px solid #f0f0f0;
    background-color: #ffffff;

    &-title {
      display: inline-flex;
      flex-flow: row wrap;
      align-items: center;
      min-height: 155px;
      margin: 0;
      padding: 6px 2px 6px 18px;
      border-left: 3px solid #ff0004;
      color: #454545;
      font-size: 22px;
      font-weight: 600;
      line-height: 1.09;
    }

    &-image {
      display: inline-flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      position: relative;
      flex: 0 0 200px;
      height: 280px;
      margin-right: 40px;
      cursor: pointer;
      transition: all 0.2s ease-out;

      &:before {
        display: block;
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0;
        background-color: rgba(0, 114, 255, 0.7);
        transition: all 0.2s ease-out;
      }

      &:hover {
        &:before {
          opacity: 1;
        }

        .t-papers__card-zoom {
          display: block;
        }
      }
    }

    &-big {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }

    &-zoom {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 36px;
      height: 36px;
      margin-left: -18px;
      margin-top: -18px;
      object-fit: scale-down;
      object-position: center center;
      z-index: 2;
      transition: all 0.2s ease-out;
    }
  }
}

.t-news {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  padding-bottom: 90px;

  &__card {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    position: relative;
    width: 100%;
    margin-bottom: 80px;

    &:first-child {
      &:after {
        display: none;
      }
    }

    &:after {
      display: block;
      position: absolute;
      content: '';
      top: -40px;
      left: 0;
      width: 100%;
      height: 1px;
      background: #f0f0f0;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      .t-news__card-button {
        background: linear-gradient(to left, #0054bc 0%, #0072ff 100%);
        color: #ffffff;
      }

      text-decoration: none;
    }

    &-image {
      display: inline-block;
      flex: 0 1 410px;
      height: 250px;
      object-fit: scale-down;
      transition: all 0.2s ease-out;
    }

    &-content {
      display: inline-block;
      flex: 0 1 840px;
      padding-left: 30px;
    }

    &-title {
      display: block;
      height: 58px;
      overflow: hidden;
      margin: 0 0 10px 0;
      color: #454545;
      font-size: 22px;
      font-weight: 400;
      line-height: 1.36;
      text-transform: uppercase;
      transition: all 0.2s ease-out;
    }

    &-date {
      display: block;
      margin: 0 0 10px 0;
      color: #454545;
      font-family: "Open Sans";
      font-size: 12px;
      font-weight: 400;
      transition: all 0.2s ease-out;

      i {
        display: inline-block;
        margin-right: 3px;
        color: #ff0004;
      }
    }

    &-row {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: flex-start;
      position: relative;
      width: 100%;
    }

    &-press {
      display: block;
      margin: 0 0 10px 65px;
      color: #454545;
      font-family: "Open Sans";
      font-size: 12px;
      font-weight: 400;
      transition: all 0.2s ease-out;

      i {
        display: inline-block;
        margin-right: 3px;
        color: #ff0004;
      }
    }

    &-text {
      display: block;
      height: 96px;
      overflow: hidden;
      margin: 0 0 22px 0;
      color: #828282;
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      transition: all 0.2s ease-out;
    }

    &-button {
      display: inline-block;
      padding: 7px 60px;
      border-radius: 18px;
      border: 1px solid #0072ff;
      background-color: transparent;
      color: #0072ff;
      font-size: 18px;
      font-weight: 800;
      text-transform: uppercase;
      text-align: center;
      transition: all 0.2s ease-out;
    }
  }
}

.t-pagination {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
  list-style: none;
  text-transform: uppercase;

  &_active {
    color: #0072ff !important;

    a {
      color: #0072ff !important;
    }
  }

  li {
    display: inline-block;
    color: #454545;
    font-size: 18px;
    font-weight: 800;

    a {
      display: inline-block;
      padding: 6px;
      color: #454545;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        color: #0072ff;
        text-decoration: none;
      }
    }
  }
}

.slick-dotted.slick-slider {
  margin: 0;
}

.t-top {
  display: block;
  position: relative;
  width: 100%;

  .slick-next,
  .slick-prev {
    width: 45px;
    height: 45px;
    top: auto;
    opacity: 1;
    z-index: 1;
    transition: all 0.2s ease-out;

    &:hover {
      opacity: 1;
    }
  }

  .slick-next {
    bottom: 100px;
    margin: 0;
    left: calc((100vw - 1290px) / 2 + 1240px);
    background: url("../images/icon_slick_bottom.png");

    &:before {
      display: none;
    }

    &:hover {
      background: url("../images/icon_slick_bottom_hover.png");
    }
  }

  .slick-prev {
    top: 100px;
    margin: 0;
    left: calc((100vw - 1290px) / 2 + 1240px);
    background: url("../images/icon_slick_top.png");

    &:before {
      display: none;
    }

    &:hover {
      background: url("../images/icon_slick_top_hover.png");
    }
  }

  .slick-dots {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 300px;
    bottom: auto;
    top: 50%;
    left: calc((100vw - 1290px) / 2 + 1240px);
    margin-top: -150px;
  }

  .slick-dots li {
    margin: 5px;
  }

  .slick-dots li button:before {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 999rem;
    border: 1px solid #ffffff;
    background-color: transparent;
    opacity: 1;
  }

  .slick-dots li.slick-active button:before {
    background: #ffffff;
    opacity: 1;
  }

  &__card {
    display: block;
    position: relative;
    width: 100%;
    background-position: center center;
    background-size: cover;

    &-wrapper {
      display: block;
      position: relative;
      width: 100%;
      background-image: linear-gradient(-120deg, rgba(207, 41, 44, 0.76) 0%, rgba(0, 85, 188, 0.76) 100%);
    }

    &-content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: flex-start;
      position: relative;
      width: 100%;
      max-width: calc((100vw - 1290px) / 2 + 780px);
      height: 640px;
      overflow: hidden;
      padding: 20px 30px 20px calc((100vw - 1290px) / 2 + 325px);
      background: rgba(0, 0, 0, 0.5);
    }

    &-title {
      display: block;
      height: 96px;
      overflow: hidden;
      margin: 0 0 30px 0;
      color: #ffffff;
      font-size: 40px;
      font-weight: 800;
      text-transform: uppercase;
    }

    &-text {
      display: block;
      position: relative;
      height: 96px;
      overflow: hidden;
      margin: 0 0 30px 0;
      color: #ffffff;
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }

    &-button {
      display: inline-block;
      padding: 13px 62px;
      border: 0;
      outline: none;
      border-radius: 999rem;
      background-image: linear-gradient(to left, #7c0a0d 0%, #d42323 100%);
      color: #fefefe;
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        background-image: linear-gradient(to right, #7c0a0d 0%, #d42323 100%);
        color: #fefefe;
        text-decoration: none;
      }
    }
  }
}

.t-home-features {
  display: block;
  position: relative;
  width: 100%;
  min-height: 480px;
  z-index: 2;

  .container {
    position: relative;
  }

  &__content {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1010px;
    padding: 55px 0 65px 0;
  }

  &__title {
    display: block;
    margin: 0 0 50px 0;
    color: #454545;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
  }

  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 225px;
    margin: 0 110px 30px 0;

    &-image {
      display: block;
      width: 73px;
      height: 73px;
      margin-bottom: 12px;
      margin-left: -10px;
      object-fit: scale-down;
      object-position: 0 0;
    }

    &-title {
      display: block;
      margin: 0 0 12px 0;
      color: #454545;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
    }

    &-text {
      display: block;
      margin: 0;
      color: #828282;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      line-height: 1.29;
    }
  }
}

.t-home-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  max-width: 398px;
  height: 564px;
  right: 0;
  top: 50%;
  overflow-y: auto;
  margin-top: -282px;
  margin-right: -76px;
  padding: 20px 45px 20px 45px;
  background: url('../images/home_form_bg.svg') no-repeat center center;
  background-size: 100% 100%;
  z-index: 3;

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #b1b0b0;
    opacity: 1;
    /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #b1b0b0;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #b1b0b0;
  }

  &__title {
    display: block;
    margin: 0 0 15px 0;
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }

  &__text {
    display: block;
    margin: 0 0 26px 0;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;

    input {
      display: inline-block;
      width: 100%;
      max-width: 300px;
      margin-bottom: 20px;
      padding: 13px;
      outline: none;
      border-radius: 23px;
      border: 1px solid #dadada;
      background-color: #ffffff;
      color: #000000;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;

      &:focus {
        border-color: #0054bc;
      }
    }
  }

  &__info {
    display: inline-block;
    width: 100%;
    max-width: 265px;
    margin: 0;
    opacity: 0.5;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
  }

  &__button {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    padding: 11px;
    border: 0;
    outline: none;
    border-radius: 999rem;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      background: #ffffff;
      color: #ff0004;
      text-decoration: none;
    }
  }

  &__info {
    display: block;
    position: relative;
    width: 100%;
    max-width: 265px;
    margin: 18px auto 0 auto;
    opacity: 0.5;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }
}

.t-home-seo {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;

  &_replaced {
    .t-home-seo__content {
      padding: 55px 80px 35px calc((100vw - 1290px) / 2);
    }
  }

  &__big {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
  }

  &__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: calc(100% + 50px);
    min-height: 313px;
    margin: -16px 0 0 -50px;
    padding: 10px calc((100vw - 1290px) / 2) 10px 105px;
    background: url('../images/seo_left.svg') no-repeat center;
    background-size: 100% 100%;
    z-index: 1;

    &-card {
      display: inline-flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      width: 100%;
      max-width: 175px;
      margin: 15px 0;
      text-align: center;
    }

    &-image {
      display: block;
      width: 50px;
      height: 50px;
      margin-bottom: 18px;
      object-fit: scale-down;
      object-position: center center;
    }

    &-title {
      display: block;
      margin: 0 0 12px 0;
      color: #ffffff;
      font-size: 18px;
      font-weight: 400;
    }

    &-link {
      margin: 0;
      color: #ffffff;
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: 300;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        color: #002a5e;
        text-decoration: underline;
      }
    }
  }

  &__content {
    display: block;
    position: relative;
    width: 100%;
    padding: 75px calc((100vw - 1290px) / 2) 70px 30px;
    background: #ffffff;
    color: #454545;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 300;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: block;
      margin: 0 0 16px 0;
      color: #454545;
      font-weight: 400;
      text-transform: uppercase;
    }

    p {
      display: block;
      margin: 0 0 16px 0;
      color: #454545;
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: 300;
    }

    a {
      color: #454545;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        color: #d35653;
        text-decoration: underline;
      }
    }

    b,
    strong {
      font-family: "Open Sans";
      font-weight: 400;
    }

    ul {
      display: block;
      position: relative;
      width: 100%;
      margin: 5px 0 16px 0;
      padding: 0;
      list-style: none;

      li {
        display: block;
        position: relative;
        width: 100%;
        padding-left: 35px;

        &:before {
          display: block;
          position: absolute;
          left: 15px;
          top: 0;
          content: '—';
          color: #d35653;
          font-family: "Open Sans";
          font-weight: 700;
        }
      }
    }
  }

  &__title {
    display: block;
    margin: 0 0 16px;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.t-home-news {
  display: block;
  position: relative;
  width: 100%;
  padding: 55px 80px 50px calc((100vw - 1290px) / 2);
  background-color: #fbfbfb;

  &__title {
    display: block;
    margin: 0 0 16px 0;
    color: #454545;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__text {
    display: block;
    margin: 0 0 55px 0;
    color: #454545;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
  }

  &__big {
    display: block;
    position: relative;
    width: 100%;
    max-width: 520px;
    margin-bottom: 20px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }

    &-image {
      display: block;
      width: 100%;
      height: 285px;
      margin-bottom: 36px;
      object-fit: cover;
    }

    &-date {
      display: block;
      margin: 0 0 25px 0;
      color: #454545;
      font-family: "Open Sans";
      font-size: 12px;
      font-weight: 400;

      i {
        display: inline-block;
        margin-right: 1px;
        color: #ff0004;
      }
    }

    &-title {
      display: block;
      max-height: 42px;
      margin: 0 0 25px 0;
      overflow: hidden;
      color: #454545;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
    }

    &-text {
      display: block;
      max-height: 96px;
      margin: 0;
      overflow: hidden;
      color: #828282;
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
  }

  &__small {
    display: block;
    position: relative;
    width: 100%;
    max-width: 220px;
    margin-bottom: 45px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }

    &-date {
      display: block;
      margin: 0 0 12px 0;
      color: #454545;
      font-family: "Open Sans";
      font-size: 12px;
      font-weight: 400;

      i {
        display: inline-block;
        margin-right: 1px;
        color: #ff0004;
      }
    }

    &-title {
      display: block;
      max-height: 57px;
      margin: 0;
      overflow: hidden;
      color: #454545;
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }

  &__button {
    display: block;
    position: relative;
    width: 100%;
    max-width: 220px;
    padding: 8px 16px;
    border-radius: 999rem;
    border: 1px solid #0072ff;
    background: transparent;
    color: #0072ff;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      background: #0072ff;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.t-home-clients {
  display: block;
  position: relative;
  width: 100%;
  padding: 55px calc((100vw - 1290px) / 2) 40px 155px;
  background-color: #f0f0f0;

  &__title {
    display: block;
    margin: 0 0 20px 0;
    color: #454545;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }

  &__cards {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
  }

  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 160px;
    height: 120px;
    margin-bottom: 10px;

    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.t-seo-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: calc(100% + 50px);
  min-height: 322px;
  margin: -16px -50px 0 0;
  padding: 10px 110px 10px calc((100vw - 1290px) / 2);
  background: url('../images/seo_form_bg.svg') no-repeat center;
  background-size: 100% 100%;
  z-index: 1;

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #b1b0b0;
    opacity: 1;
    /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #b1b0b0;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #b1b0b0;
  }

  &__title {
    display: block;
    margin: 0 0 16px 0;
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__text {
    display: block;
    margin: 0 0 27px 0;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
  }

  &__form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 630px;
    margin: 0;

    input {
      display: inline-block;
      width: 100%;
      max-width: 300px;
      margin-bottom: 30px;
      padding: 12px;
      outline: none;
      border-radius: 23px;
      border: 1px solid #dadada;
      background-color: #ffffff;
      color: #000000;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;

      &:focus {
        border-color: #0054bc;
      }
    }
  }

  &__info {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    margin: 0;
    opacity: 0.5;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
  }

  &__button {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    padding: 11px;
    border: 0;
    outline: none;
    border-radius: 999rem;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      background: #ffffff;
      color: #ff0004;
      text-decoration: none;
    }
  }
}

.t-home-papers {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: calc(100% + 50px);
  min-height: 313px;
  margin: -16px -50px 0 0;
  padding: 10px 110px 10px calc((100vw - 1290px) / 2);
  background: url('../images/seo_right.svg') no-repeat center;
  background-size: 100% 100%;
  z-index: 1;

  &__title {
    display: block;
    margin: 10px 0 15px 0;
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__text {
    display: block;
    margin: 0 0 40px 0;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
  }

  &__arrow {
    display: inline-block;
    width: 45px;
    height: 45px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    &_prev {
      margin-right: 20px;
      background-image: url('../images/icon_slick_prev_2.png');
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        background: url('../images/icon_slick_prev_2_hover.png');
        text-decoration: none;
      }
    }

    &_next {
      background-image: url('../images/icon_slick_next_2.png');
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        background: url('../images/icon_slick_next_2_hover.png');
        text-decoration: none;
      }
    }
  }

  &__cards {
    display: block;
    position: relative;
    width: 550px;
  }

  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 133px;
    height: 184px;
    margin: 10px;
    box-shadow: 0 0 18px 1px rgba(5, 73, 156, 0.99);
    background-color: #fbfbfb;

    &-zoom {
      max-width: 100%;
      z-index: 2;
      transition: all 0.2s ease-out;
    }

    &:before {
      display: block;
      position: absolute;
      content: '';
      opacity: 0;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 114, 255, 0.7);
      transition: all 0.2s ease-out;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      &:before {
        opacity: 1;
      }

      text-decoration: none;
    }
  }
}


.t-home-nav {

  /* width */
  &::-webkit-scrollbar {
    display: none;
    width: 4px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #ffffff;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  &:hover {
    &::-webkit-scrollbar {
      display: block;
    }
  }

  display: block;
  position: absolute;
  top: 180px;
  left: calc((100vw - 1357px) / 2);
  width: 100%;
  max-width: 329px;
  max-height: 668px;
  overflow-y: auto;
  margin: 0 0 0 -10px;
  padding: 20px 0 65px 0;
  background: url('../images/header_bg_big.png') no-repeat center top;
  background-size: 100% 100%;
  z-index: 3;

  li {
    display: block;
    position: relative;
    width: 100%;

    &:after {
      display: block;
      position: absolute;
      content: '';
      left: 40px;
      top: 100%;
      width: 253px;
      height: 1px;
      background-color: #ffffff;
      opacity: 0.1;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }

    a {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
      max-width: 326px;
      padding: 16px 40px;

      img {
        display: inline-block;
        width: 19px;
        height: 19px;
        margin-right: 20px;
        object-fit: scale-down;
        opacity: 0.5;
        transition: all 0.2s ease-out;
      }

      color: #ffffff;
      font-size: 18px;
      font-weight: 400;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        background: rgba(255, 255, 255, 0.1);
        text-decoration: none;

        img {
          opacity: 1;
        }
      }
    }
  }
}

.t-stocks {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;

  &__card {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 453px;
    min-height: 240px;
    margin: 2px 1px 0 1px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      .t-stocks__card-content {
        justify-content: center;
        background: rgba(0, 115, 255, 0.7);
      }

      .t-stocks__card-title {
        background: transparent;
      }

      text-decoration: none;
    }

    &-content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      width: 100%;
      height: 100%;
      padding: 25px 40px 25px 40px;
      transition: all 0.2s ease-out;
    }

    &-title {
      display: block;
      position: relative;
      width: 100%;
      margin: 0;
      padding: 10px 10px 10px 15px;
      border-left: 3px solid #ff0004;
      background: rgba(0, 115, 255, 0.7);
      color: #ffffff;
      font-size: 22px;
      font-weight: 600;
      line-height: 1.09;
      transition: all 0.2s ease-out;
    }
  }
}

.t-prices {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;

  &__card {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
    width: 100%;
    border-top: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    border-left: 1px solid #f0f0f0;
    background-color: #ffffff;

    &-title {
      display: block;
      width: 100%;
      max-width: 460px;
      margin: 0;
      padding: 38px 95px 38px 38px;
      background-image: linear-gradient(to left, #0054bc 0%, #0072ff 100%);
      color: #ffffff;
      font-size: 22px;
      font-weight: 400;
      text-transform: uppercase;
    }

    &-content {
      display: block;
      position: relative;
      width: 100%;
      max-width: 910px;
      height: 100%;
      margin: 46px 35px 46px 38px;
      padding: 0 0 0 16px;
      border-left: 3px solid #ff0004;
    }

    &-row {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-start;
      position: relative;
      width: 100%;
      margin-bottom: 32px;

      &:last-child {
        margin: 0;
      }
    }

    &-text {
      display: inline-block;
      width: 100%;
      max-width: 550px;
      margin: 0;
      color: #454545;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }

    &-link {
      display: inline-flex;
      align-items: center;
      margin-left: 37px;

      i {
        display: inline-block;
        margin-right: 3px;
        color: #0054bc;
        font-size: 16px;
      }

      a {
        color: #0054bc;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 300;
        cursor: pointer;
        text-decoration: underline;
        transition: all 0.2s ease-out;

        &:hover,
        &:active,
        &:focus {
          color: #e0090c;
          text-decoration: none;
        }
      }
    }
  }
}

.t-products {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  position: relative;
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;

  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 272px;
    margin-left: -1px;
    padding: 40px 40px 75px 40px;
    border: 1px solid #f0f0f0;
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:before {
      display: block;
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: #ffffff;
    }

    &:hover,
    &:active,
    &:focus {
      background-position: center center;
      background-size: cover;
      background-size: cover;
      text-decoration: none;

      &:before {
        background: rgba(0, 114, 255, 0.7);
      }

      img {
        filter: brightness(0) invert(1);
      }

      .t-products__card-title {
        color: #ffffff;
      }
    }

    &-image {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 150px;

      img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        transition: all 0.2s ease-out;
      }

      z-index: 1;
    }

    &-hr {
      display: block;
      width: 30px;
      height: 3px;
      margin: 20px auto;
      background-color: #ff0004;
      transition: all 0.2s ease-out;
      z-index: 1;
    }

    &-title {
      display: block;
      color: #454545;
      font-size: 22px;
      font-weight: 600;
      line-height: 1.36;
      text-transform: uppercase;
      transition: all 0.2s ease-out;
      z-index: 1;
    }
  }
}

.t-press-download {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: calc(100% + 50px);
  min-height: 313px;
  margin: 0 0 -16px -50px;
  padding: 10px calc((100vw - 1290px) / 2) 10px 100px;
  background: url('../images/seo_pdf_bg.svg') no-repeat center;
  background-size: 100% 100%;
  z-index: 1;

  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 250px;
    text-align: center;

    &-image {
      display: block;
      width: 50px;
      height: 50px;
      margin-bottom: 18px;
      object-fit: scale-down;
    }

    &-title {
      display: block;
      margin: 0 0 11px 0;
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;
    }

    &-link {
      display: inline-block;
      color: #ffffff;
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: 300;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        color: #0072ff;
        text-decoration: none;
      }
    }
  }
}

.t-press {
  display: block;
  position: relative;
  width: 100%;
  padding: 75px calc((100vw - 1290px) / 2) 50px 80px;
  background-color: #fbfbfb;

  &__title {
    display: block;
    margin: 0 0 46px;
    color: #454545;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
  }

  color: #454545;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;

  &__text {
    display: block;
    margin: 0 0 16px 0;
    color: #454545;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 300;
  }

  &__link {
    display: block;
    margin-top: 14px;
    color: #454545;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 300;

    a {
      color: #454545;
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: 300;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        color: #e0090c;
        text-decoration: none;
      }
    }

    i {
      color: #ff0004;
    }
  }
}

.t-product {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;

  &__big {
    display: block;
    position: relative;
    width: 100%;
    max-width: 590px;

    &-card {
      display: block;
      position: relative;
      width: 100%;
      height: 420px;
      background-position: center center;
      background-size: cover;
    }

    .slick-next,
    .slick-prev {
      width: 45px;
      height: 45px;
      top: 50%;
      opacity: 1;
      z-index: 1;

      &:hover {
        opacity: 1;
      }
    }

    .slick-next {
      margin-right: 45px;
      background: url("../images/icon_slick_next_3.png");

      &:before {
        display: none;
      }

      &:hover {
        background: url("../images/icon_slick_next_3_hover.png");
      }
    }

    .slick-prev {
      margin-left: 45px;
      background: url("../images/icon_slick_prev_3.png");

      &:before {
        display: none;
      }

      &:hover {
        background: url("../images/icon_slick_prev_3_hover.png");
      }
    }
  }

  &__main {
    display: block;
    position: relative;
    width: 100%;
    padding: 30px 60px 30px 80px;
  }

  &__title {
    display: block;
    margin: 0 0 30px 0;
    color: #454545;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__text {
    display: block;
    margin: 0 0 55px 0;
    color: #454545;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }

  &__value {
    display: block;
    margin: 0 0 30px 0;
    color: #454545;
    font-size: 22px;
    font-weight: 400;

    b,
    strong,
    span {
      display: inline-block;
      margin: 0 5px;
      color: #d23335;
      font-size: 30px;
      font-weight: 700;
    }
  }

  &__button {
    display: inline-block;
    margin: 0;
    padding: 8px 75px;
    border-radius: 999rem;
    border: 1px solid #0072ff;
    background-color: transparent;
    color: #0072ff;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      background-color: #0d68b0;
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__content {
    display: block;
    position: relative;
    width: 100%;
    padding: 75px 60px 40px 40px;
    background-color: #fbfbfb;
    color: #454545;
    font-size: 16px;
    font-weight: 400;

    .table thead th {
      padding: 12px 10px;
      vertical-align: middle;
      border-bottom: 1px solid #fbfbfb;
      border-right: 1px solid #fbfbfb;
      background-color: #0060d6;
      color: #ffffff;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.33;
      text-align: center;
    }

    .table td,
    .table th {
      padding: 11px 20px;
      background: #e2ecf7;
      vertical-align: middle;
      border-bottom: 1px solid #fbfbfb;
      border-right: 1px solid #e2ecf7;
      color: #454545;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
    }

    .table {
      tr td:nth-child(even) {
        background: #cbdef4;
      }
    }

    &-pretable {
      display: block;
      position: relative;
      width: 100%;
      padding: 22px;
      background-image: linear-gradient(to right, #d23335 0%, #c80f13 100%);
      color: #ffffff;
      font-size: 25px;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
    }

    &-title {
      display: block;
      margin: 0 0 45px 0;
      color: #454545;
      font-size: 25px;
      font-weight: 400;
      text-transform: uppercase;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: block;
      margin: 0 0 25px 0;
      color: #454545;
      font-weight: 400;
      text-transform: uppercase;
    }

    p {
      margin: 0 0 30px 0;
      color: #454545;
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
  }

  &__price {
    display: block;
    position: relative;
    width: 100%;
    max-width: 414px;
    height: 100%;
    padding: 90px 0;
    background: url('../images/product_price_bg.svg') no-repeat center top;
    background-size: 100% auto;

    &-title {
      display: block;
      margin: 0 0 15px 45px;
      color: #ffffff;
      font-size: 25px;
      font-weight: 400;
      text-transform: uppercase;
    }

    &-link {
      display: block;
      max-width: 300px;
      margin: 0 0 45px 45px;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        color: #ffffff;
        text-decoration: none;
      }
    }

    &-list {
      display: block;
      position: relative;
      width: 100%;
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: block;
        position: relative;
        width: 100%;

        &:after {
          display: block;
          position: absolute;
          content: '';
          left: 40px;
          top: 100%;
          width: 253px;
          height: 1px;
          background-color: #ffffff;
          opacity: 0.1;
        }

        &:last-child {
          &:after {
            display: none;
          }
        }

        a {
          display: flex;
          align-items: center;
          position: relative;
          width: 100%;
          padding: 16px 45px;

          img {
            display: inline-block;
            width: 19px;
            height: 19px;
            margin-right: 20px;
            object-fit: scale-down;
            opacity: 0.5;
            transition: all 0.2s ease-out;
          }

          color: #ffffff;
          font-size: 18px;
          font-weight: 400;
          cursor: pointer;
          text-decoration: none;
          transition: all 0.2s ease-out;

          &:hover,
          &:active,
          &:focus {
            background: rgba(255, 255, 255, 0.1);
            text-decoration: none;

            img {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.t-article {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;

  &__big {
    display: block;
    width: 100%;
    max-width: 590px;
    height: 420px;
    background-position: center center;
    background-size: cover;
  }

  &__main {
    display: block;
    position: relative;
    width: 100%;
    padding: 30px 60px;
  }

  &__title {
    display: block;
    margin: 0 0 25px 0;
    color: #454545;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__date {
    display: block;
    margin: 0;
    color: #454545;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;

    i {
      display: inline-block;
      margin-right: 2px;
      color: #ff0004;
    }
  }

  &__gallery {
    display: block;
    position: relative;
    width: 100%;
    padding: 12px 130px;
    background-image: linear-gradient(to bottom, #025ecf 0%, #3192ff 43%, #004192 100%);

    .slick-next,
    .slick-prev {
      width: 45px;
      height: 45px;
      top: 50%;
      opacity: 1;
      z-index: 1;

      &:hover {
        opacity: 1;
      }
    }

    .slick-next {
      margin-right: -45px;
      background: url("../images/icon_slick_next_2.png");

      &:before {
        display: none;
      }

      &:hover {
        background: url("../images/icon_slick_next_2_hover.png");
      }
    }

    .slick-prev {
      margin-left: -45px;
      background: url("../images/icon_slick_prev_2.png");

      &:before {
        display: none;
      }

      &:hover {
        background: url("../images/icon_slick_prev_2_hover.png");
      }
    }

    &-zoom {
      max-width: 100%;
      position: relative;
      z-index: 1;
      opacity: 0;
      transition: all 0.2s ease-out;
    }

    &-cards {
      display: block;
      position: relative;
      width: 100%;
      margin: 0 auto;
    }

    &-card {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      max-width: 240px;
      height: 145px;
      margin: 0 auto;
      background-position: center center;
      background-size: cover;

      &:before {
        display: block;
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background-color: rgba(0, 114, 255, 0.7);
        transition: all 0.2s ease-out;
      }

      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        &:before {
          opacity: 1;
        }

        .t-article__gallery-zoom {
          opacity: 1;
        }

        text-decoration: none;
      }
    }
  }

  &__news {
    display: block;
    position: relative;
    max-width: 370px;
    padding: 75px 60px 60px 65px;
    background-color: #fbfbfb;

    &-title {
      display: block;
      margin: 0 0 50px 0;
      color: #454545;
      font-size: 30px;
      font-weight: 400;
      text-transform: uppercase;
    }

    &-cards {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      position: relative;
      width: 100%;
    }

    &-card {
      display: block;
      width: 100%;
      max-width: 240px;
      margin-bottom: 45px;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        opacity: 0.7;
        text-decoration: none;
      }

      &-image {
        display: block;
        width: 100%;
        height: 145px;
        object-fit: cover;
      }

      &-date {
        display: block;
        margin: 20px 0 18px 0;
        color: #454545;
        font-family: "Open Sans";
        font-size: 12px;
        font-weight: 400;

        i {
          display: inline-block;
          margin-right: 2px;
          color: #ff0004;
        }
      }

      &-title {
        display: block;
        margin: 0;
        color: #454545;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
      }
    }

    &-button {
      display: inline-block;
      margin-top: 70px;
      padding: 8px 63px;
      border-radius: 999rem;
      border: 1px solid #0072ff;
      background-color: transparent;
      color: #0072ff;
      font-size: 18px;
      font-weight: 800;
      text-transform: uppercase;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        background: #0072ff;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }

  &__content {
    display: block;
    position: relative;
    width: 100%;
    padding: 75px 100px 30px 40px;
    color: #454545;
    font-size: 16px;
    font-weight: 400;

    blockquote {
      display: block;
      position: relative;
      width: 100%;
      margin: 20px 0 50px 0;
      padding: 25px 75px 25px 30px;
      border-left: 3px solid #d23335;
      background-color: rgba(210, 51, 54, 0.05);
      color: #454545;
      font-family: "Open Sans";
      font-size: 16px;
      font-style: italic;
      line-height: 1.5;
    }

    .table thead th {
      padding: 12px 10px;
      vertical-align: middle;
      border-bottom: 1px solid #fbfbfb;
      border-right: 1px solid #fbfbfb;
      background-color: #0060d6;
      color: #ffffff;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.33;
      text-align: center;
    }

    .table td,
    .table th {
      padding: 11px 20px;
      background: #e2ecf7;
      vertical-align: middle;
      border-bottom: 1px solid #fbfbfb;
      border-right: 1px solid #e2ecf7;
      color: #454545;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
    }

    .table {
      tr td:nth-child(even) {
        background: #cbdef4;
      }
    }

    &-pretable {
      display: block;
      position: relative;
      width: 100%;
      padding: 22px;
      background-image: linear-gradient(to right, #d23335 0%, #c80f13 100%);
      color: #ffffff;
      font-size: 25px;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
    }

    &-title {
      display: block;
      margin: 0 0 45px 0;
      color: #454545;
      font-size: 25px;
      font-weight: 400;
      text-transform: uppercase;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: block;
      margin: 0 0 25px 0;
      color: #454545;
      font-weight: 400;
      text-transform: uppercase;
    }

    p {
      margin: 0 0 30px 0;
      color: #454545;
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
  }
}

.t-about {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;

  &__big {
    display: block;
    width: 100%;
    max-width: 590px;
    height: 420px;
    background-position: center center;
    background-size: cover;
  }

  &__boss {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 590px;
    padding: 26px;
    background-image: linear-gradient(to left, #780709 0%, #e36161 23.5%, #d21e1e 50%, #e36161 76.5%, #780709 100%);
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }

  &__who {
    display: block;
    margin: 0 0 4px 0;
  }

  &__name,
  b,
  strong {
    display: block;
    margin: 0;
    font-size: 25px;
    font-weight: 600;
  }

  &__content {
    display: block;
    position: relative;
    width: 100%;
    padding: 75px 40px 20px 80px;
    color: #454545;
    font-size: 16px;
    font-weight: 300;

    p {
      display: block;
      margin: 0 0 12px 0;
      color: #454545;
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }
  }

  &__title {
    display: block;
    margin: 0 0 45px 0;
    color: #454545;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.t-history {
  display: block;
  position: relative;
  width: 100%;

  &__content {
    display: block;
    position: relative;
    width: 100%;
    padding: 65px calc((100vw - 1290px) / 2) 40px 30px;
    color: #454545;
    font-size: 16px;
    font-weight: 300;

    p {
      display: block;
      margin: 0 0 15px 0;
      color: #454545;
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }
  }

  &__wrap {
    display: block;
    position: relative;
    width: 100%;
    padding: 50px calc((100vw - 1290px) / 2) 35px 30px;
    background-image: linear-gradient(to left, #0054bc 0%, #0072ff 100%);
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;

    &-title {
      display: block;
      margin: 0 0 26px 0;
      color: #ffffff;
      font-size: 25px;
      font-weight: 400;
      text-transform: uppercase;
    }

    p {
      display: block;
      margin: 0 0 10px 0;
      color: #ffffff;
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }

  ul.tabs li {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-width: 45px;
    height: 45px;
    padding: 2px;
    margin: 0 20px 20px 0;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
  }

  ul.tabs li.current {
    background: linear-gradient(to top, #d23335 0%, #c80f13 100%);
  }

  .tab-content {
    display: none;
    padding-top: 30px;
  }

  .tab-content.current {
    display: inherit;
  }
}

.t-contacts {
  display: block;
  position: relative;
  width: 100%;
  margin: 0;

  &__title {
    display: block;
    margin: 0;
    padding: 80px 40px 30px calc((100vw - 1290px) / 2);
    color: #454545;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .active {
    display: block;
  }

  &__cities {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 30px 0 15px 0;
    background-color: #f0f0f0;

    &_active {
      a {
        &:after {
          display: block;
          position: absolute;
          content: '';
          width: 100vw;
          height: 2px;
          left: 100%;
          top: 10px;
          background-color: #79070a;
        }
      }
    }

    li {
      display: block;
      position: relative;
      width: 100%;
      padding: 0 10px 0 calc((100vw - 1290px) / 2);

      a {
        display: inline-block;
        position: relative;
        padding-right: 10px;
        margin-bottom: 12px;
        color: #454545;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover,
        &:active,
        &:focus {
          color: #79070a;
          text-decoration: none;
        }
      }
    }
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 78px 30px 25px 30px;
    background-image: linear-gradient(to right, #780709 0%, #e36161 23.5%, #d21e1e 50%, #e36161 76.5%, #780709 100%);

    &-tab {
      display: none;
      width: 100%;
    }
  }

  &__name {
    display: block;
    margin: 0 0 58px 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
  }

  &__phone {
    display: block;
    margin: 0 0 25px 0;

    &-text {
      display: block;
      margin: 0;
      opacity: 0.5;
      color: #ffffff;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
    }
  }

  &__number {
    display: block;
    margin: 0 0 4px 0;
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      color: #ffffff;
      text-decoration: none;
    }
  }

  sup {
    font-size: 10px;
  }

  &__row {
    display: flex;
    align-items: flex-start;
    position: relative;
    width: 100%;
    margin: 0 0 22px 0;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;

    i {
      display: inline-block;
      margin-top: 4px;
      margin-right: 4px;
      color: #ffffff;
      font-size: 16px;
    }

    p {
      margin: 0;
    }

    a {
      color: #ffffff;
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        opacity: 0.7;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }

  &__link {
    display: inline-block;
    margin-top: 25px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__button {
    display: block;
    width: 100%;
    margin: 15px 0 0 0;
    padding: 13px;
    border-radius: 999rem;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    color: #454545;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      color: #454545;
      text-decoration: none;
    }
  }
}

#map {
  display: block;
  position: relative;
  width: 100%;
  min-height: 300px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1320px;
  }
}

@media (max-width: 1199px) {
  .t-header {
    padding: 0;

    &__logo {
      max-width: 100%;
    }
  }

  .t-header__main {
    display: block;
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 20px 15px;
    background: linear-gradient(to left, #004192 0%, #3192ff 28.5%, #025ecf 50%, #3192ff 71.5%, #004192 100%);
  }

  .t-breadcrumps__this {
    padding: 10px 0;
  }

  .t-header__toggle {
    display: inline-block;
    margin-left: 20px;
  }

  .t-header__mob {
    display: flex;
    align-items: center;
  }

  .t-header__text {
    font-size: 14px;
  }

  .t-header__row {
    display: none;
    padding: 10px 0;
  }

  .t-header__dropper:hover .t-header__drop {
    display: none;
  }

  .t-header__nav {
    display: none;
    text-align: center;
    padding: 10px 0;

    &>li {
      display: block;
      width: 100%;

      &>a {
        display: block;
        width: 100%;
        padding: 10px;
        text-align: center;
      }
    }
  }

  .t-header__block {
    display: block;
    width: 100%;
  }

  .t-modal__content {
    padding: 40px 20px 20px 20px;
    background-image: linear-gradient(to left, #004192 0%, #3192ff 28.5%, #025ecf 50%, #3192ff 71.5%, #004192 100%);
  }

  .t-modal__close {
    position: absolute;
    right: 10px;
    top: 10px;
    margin: 0;
    padding: 5px;
  }

  .t-modal__form {
    justify-content: space-around;
  }

  .t-modal__form input {
    margin-bottom: 5px;
  }

  .t-page__nav {
    padding: 20px 0 5px 0;
  }

  .t-page__title {
    margin: 0 0 10px 0;
    text-align: center;
  }

  .t-docs__card {
    min-height: auto;
    padding: 20px;
  }

  .t-form {
    padding: 30px 0;
  }

  .t-form__form {
    justify-content: space-around;
  }

  .t-form__form input {
    margin-bottom: 5px;
  }

  .t-form__info {
    margin-top: 10px;
    text-align: center;
  }

  .t-footer {
    padding: 30px 0;
  }

  .t-footer__logo {
    margin-bottom: 15px;
  }

  .t-footer_bordered {
    border: 0;
  }

  .t-footer_padding_left {
    padding: 0 15px;
  }

  .t-footer__links_margin_bottom {
    margin: 0;
  }

  .t-footer__links {
    margin-bottom: 20px;
  }

  .t-footer__politics {
    margin-bottom: 20px;
  }

  .t-footer__creators {
    margin-top: 20px;
  }

  .t-papers {
    justify-content: space-around;
  }

  .t-papers__card {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    min-height: auto;
    padding: 20px;
    text-align: center;
  }

  .t-papers__card-image {
    margin: 0 0 10px 0;
  }

  .t-papers__card-title {
    min-height: auto;
    border: 0;
    padding: 0;
  }

  .t-news__card-image {
    flex: auto;
    width: 100%;
    max-width: 300px;
    height: 200px;
    margin: 0 0 10px 0;
  }

  .t-news__card {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  .t-news__card-content {
    flex: auto;
    padding: 0;
  }

  .t-news__card {
    margin-bottom: 30px;
  }

  .t-news {
    padding-bottom: 30px;
  }

  .t-news__card:after {
    top: -15px;
  }

  .t-home-nav {
    display: none;
  }

  .t-top .slick-prev {
    left: 15px;
    top: auto;
    bottom: 5px;
  }

  .t-top .slick-next {
    left: auto;
    right: 15px;
    top: auto;
    bottom: 5px;
  }

  .t-top__card-content {
    max-width: 100%;
    padding: 20px 15px 60px 15px;
  }

  .t-top__card-title {
    margin-bottom: 20px;
    font-size: 32px;
  }

  .t-home-features__content {
    padding: 30px 0;
  }

  .t-home-form {
    position: relative;
    margin: 0 auto;
  }

  .t-home-features__title {
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center;
  }

  .t-home-seo__nav {
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 30px 15px;
    background-image: linear-gradient(to top, #004192 0%, #3192ff 36%, #51a1fe 50%, #3192ff 64%, #004192 100%);
  }

  .t-home-seo__content {
    padding: 30px 15px;
  }

  .t-home-news {
    padding: 30px 15px;
  }

  .t-home-news__text {
    margin-bottom: 20px;
  }

  .t-home-news__big-image {
    margin-bottom: 15px;
  }

  .t-home-news__big-date {
    margin-bottom: 15px;
  }

  .t-home-news__big-title {
    margin-bottom: 15px;
  }

  .t-home-news__small {
    margin-bottom: 25px;
  }

  .t-home-clients {
    padding: 30px 15px;
  }

  .t-home-clients__title {
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center;
  }

  .t-home-clients__card {
    max-width: 140px;
    height: 80px;
  }

  .t-home-papers {
    width: 100%;
    margin: 0 auto !important;
    padding: 30px 15px;
    background-image: linear-gradient(to top, #004192 0%, #3192ff 36%, #51a1fe 50%, #3192ff 64%, #004192 100%);
  }

  .t-home-seo_replaced .t-home-seo__content {
    padding: 30px 15px;
  }

  .t-home-papers__text {
    max-width: 300px;
    margin-bottom: 20px;
  }

  .t-stocks {
    justify-content: space-around;
  }

  .t-prices__card {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    border-left: 0;
    border-right: 0;

    &-title {
      width: 100%;
      padding: 20px 15px;
    }

    &-content {
      width: 100%;
      margin: 0;
      padding: 20px 15px;
    }

    &-row {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: flex-end;
    }

    &-text {
      width: 100%;
      margin-bottom: 15px;
    }

    .t-prices__card-link {
      margin: 0 20px 5px 0;
    }
  }

  .t-products__card {
    padding: 20px;
  }

  .t-seo-form {
    width: 100%;
    min-height: auto;
    padding: 30px 15px;
    background-image: linear-gradient(to top, #780709 0%, #e36161 23.5%, #d21e1e 50%, #e36161 76.5%, #780709 100%);
  }

  .t-seo-form__form input {
    margin-bottom: 10px;
  }

  .t-seo-form__info {
    margin-top: 10px;
  }

  .t-news__card-press {
    margin-left: 0;
  }

  .t-news__card-date {
    margin-right: 10px;
  }

  .t-press {
    padding: 20px 15px;
  }

  .t-press__title {
    margin-bottom: 20px;
  }

  .t-press-download {
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 30px 15px;
    background-image: linear-gradient(to top, #780709 0%, #e36161 23.5%, #d21e1e 50%, #e36161 76.5%, #780709 100%);
  }

  .t-press-download__card {
    margin-bottom: 30px;
  }

  .t-product__big-card {
    height: 300px;
  }

  .t-product__main {
    padding: 30px;
  }

  .t-product__big {
    max-width: 400px;
    margin: 0 auto;
  }

  .t-product__text {
    margin-bottom: 30px;
  }

  .t-product__content {
    padding: 30px;
  }

  .t-product__price {
    max-width: auto;
    padding: 20px 0;
    background: linear-gradient(to left, #004192 0%, #3192ff 28.5%, #025ecf 50%, #3192ff 71.5%, #004192 100%);
  }

  .t-article__big {
    height: 300px;
  }

  .t-article__main {
    padding: 30px;
  }

  .t-article__title {
    font-size: 26px;
  }

  .t-article__content {
    padding: 30px;
  }

  .t-article__news {
    width: 100%;
    max-width: 100%;
    padding: 30px;
  }

  .t-article__news-title {
    margin-bottom: 20px;
  }

  .t-article__news-button {
    margin: 0;
  }

  .t-about__big {
    height: 300px;
  }

  .t-about__content {
    padding: 30px;
  }

  .t-about__title {
    margin-bottom: 20px;
  }

  .t-history__content {
    padding: 30px;
  }

  .t-history__wrap {
    width: 100%;
    padding: 30px;

    img {
      margin-bottom: 10px;
    }
  }

  .t-history .tab-content {
    padding: 0;
  }

  .t-history ul.tabs li {
    margin: 0 5px 5px 0;
  }

  .t-contacts__title {
    padding: 30px;
  }

  .t-contacts__content {
    padding: 30px;
  }

  .t-contacts__name {
    margin-bottom: 20px;
  }

  .t-contacts__link {
    margin: 0;
  }

  .t-home-clients__card {
    display: flex;
    margin: 0 auto;
  }

  .t-header__info {
    display: block;
    max-width: 240px;
    margin: 0 auto 8px auto;
    text-align: center;
  }

  .t-header__row {
    justify-content: space-around;
  }

  .t-header__number {
    display: block;
    margin: 0 auto 8px auto;
    text-align: center;
  }

  .t-header__button {
    display: block;
    max-width: 200px;
    margin: 0 auto 5px auto;
  }

  .t-breadcrumps__this {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .t-footer {
    text-align: center;
  }

  .t-footer__social {
    justify-content: center;

    li {
      margin: 0 10px 10px 10px;

      a {
        margin: 0;
      }
    }
  }

  .t-footer__creators {
    max-width: auto;
  }

  .t-home-features__cards {
    justify-content: space-around;
  }

  .t-home-features__card {
    align-items: center;
    margin: 0 auto 25px auto;
    text-align: center;
  }

  .t-home-news__small {
    margin: 0 auto 25px auto;
  }

  .t-home-news__button {
    margin: 0 auto;
  }
  /* .t-home-papers__card {
    display: flex;
    margin: 0 auto;
  } */
  .t-home-papers__cards {
    width: 100%;
    max-width: 150px;
    margin: 0 auto;
  }
  .t-mob-center {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  .t-home-papers__text {
    margin: 0 auto 20px auto;
    text-align: center;
  }
  .t-home-papers__title {
    margin: 0 auto 20px auto;
    text-align: center;
  }
  .t-footer__creators {
    margin: 20px auto 0 auto;
  }
  .t-contacts__cities li {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .t-contacts__title {
    width: 100%;
    text-align: center;
  }
  .t-contacts__cities li a {
    padding: 4px 10px;
  }
  .t-article__news-cards {
    align-items: center;
  }
  .t-article__news-title {
    text-align: center;
  }
  .t-article__news-button {
    display: block;
    max-width: 230px;
    margin: 0 auto;
  }
}

@media (max-width: 991px) {}

@media (max-width: 767px) {}
